@media (min-width: 600px) {
  .wrapper {
    width: 37.5rem;
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 10px 20px 30px 15px rgba(0, 0, 0, 0.4);
    border-radius: 1em;
  }
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 70% 60%;
  }
}
