*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --Light-red: rgb(255, 87, 87);
  --Orangey-yellow: rgb(255, 176, 31);
  --Green-teal: rgb(0, 189, 145);
  --Cobalt-blue: rgb(17, 37, 212);

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  --result-white-light: rgba(255, 255, 255, 0.6);
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
